# AWS
awswrangler
boto3

# Config
pyyaml
jsonschema

# testing
pytest
ruff
hypothesis

# Data handling
pandas
polars
pyarrow

# Excel I/O
fastexcel
openpyxl
xlsxwriter

# SQL engine
duckdb

# Frontend
pyside6

# Packaging and tooling
pathspec
pre-commit
pyinstaller
python-dateutil
setuptools
wheel
